/* sample spreadshet - you should replace all of this! */

/*
Colour palette 
Use these three base colours:
(darkest to lightest)

#054D5A
#007173
#05A2A5

Use this colour to highlight important stuff (e.g. the page youre on, signup section)
#702116

For some contrast and off-cases
#F4B09B
*/

body {
    margin: 50px;
}


header {
    /*Everything above "welcome to flowtow"*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; 
    
}

/*Nav bar*/
nav ul{ 
    list-style-type: none;
    margin: 12px;
    padding: 15px;
    overflow: hidden;
    background-color: #007173;
}

/*Nav bar items*/
nav ul li a{ 
    display: block;
    color: white;
    text-align: center;
    float: left;
    padding: 15px 18px;
    text-decoration: wavy;
}

nav ul li a:hover:not(.active) {
    background-color: #054D5A;
}
nav ul li a:hover:is(.active) {
    background-color: #702116;
  }

/*Can't change html code, so can't add logo img
#logo {
    
}

nav.ul{
    
}
*/


#search-form {

}

/*
#content{
}
*/

#heading {
    background-color: #05A2A5;
}

button.like-button {

}

#most-popular-first {
    list-style-type: none;
}

#most-popular-second {
    list-style-type: none;
}

#most-popular-third {
    list-style-type: none;
}

#whatis {
    float:left;
    width: 27%;
    height: 14.9999%;
    margin: 10%;
    padding: auto;
    background-color: #F4B09B;
    /**/
}

#registration {
    float:inline-start;
    text-align: center;
    min-width: 260px;
    max-width: 800px;
    height: 300px;
    margin: auto;
    padding: 20px;
    background-color: #b15144;
}


#registration-form {

}

#recent-users{

}



footer {
    background-color: yellow;
}

#social{

}

#footer-tos{

}

img {
    width: 300px;
}

#whatis {
    padding: 30px;
    margin: 10px;
}


